<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Casa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <!-- ion-card 1 -->
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <ion-card (click)="estadoLuces('banio')" [ngStyle]="{'opacity': espacios['banio'] ? '1' : '0.5'}">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="2" size-md="3" size-sm="4" class="ion-text-start">
                  <div class="circle1" [ngClass]="{'on': espacios['banio'], 'off': !espacios['banio']}"></div>
                </ion-col>
                <ion-col size-lg="6" size-md="7" size-sm="8">
                  <ion-card-header>
                    Baño
                  </ion-card-header>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- ion-card 2 -->
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <ion-card (click)="estadoLuces('cocina')" [ngStyle]="{'opacity': espacios['cocina'] ? '1' : '0.5'}">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="2" size-md="3" size-sm="4" class="ion-text-start">
                  <div class="circle2" [ngClass]="{'on': espacios['cocina'], 'off': !espacios['cocina']}"></div>
                </ion-col>
                <ion-col size-lg="6" size-md="7" size-sm="8">
                  <ion-card-header>
                    Cocina
                  </ion-card-header>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- ion-card 3 -->
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <ion-card (click)="estadoLuces('dormitorio')" [ngStyle]="{'opacity': espacios['dormitorio'] ? '1' : '0.5'}">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="2" size-md="3" size-sm="4" class="ion-text-start">
                  <div class="circle3" [ngClass]="{'on': espacios['dormitorio'], 'off': !espacios['dormitorio']}"></div>
                </ion-col>
                <ion-col size-lg="6" size-md="7" size-sm="8">
                  <ion-card-header>
                    Dormitorio
                  </ion-card-header>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- ion-card 4 -->
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <ion-card (click)="estadoLuces('estudio')" [ngStyle]="{'opacity': espacios['estudio'] ? '1' : '0.5'}">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="2" size-md="3" size-sm="4" class="ion-text-start">
                  <div class="circle4" [ngClass]="{'on': espacios['estudio'], 'off': !espacios['estudio']}"></div>
                </ion-col>
                <ion-col size-lg="6" size-md="7" size-sm="8">
                  <ion-card-header>
                    Estudio
                  </ion-card-header>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- ion-card 5 -->
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <ion-card (click)="estadoLuces('garaje')" [ngStyle]="{'opacity': espacios['garaje'] ? '1' : '0.5'}">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="2" size-md="3" size-sm="4" class="ion-text-start">
                  <div class="circle5" [ngClass]="{'on': espacios['garaje'], 'off': !espacios['garaje']}"></div>
                </ion-col>
                <ion-col size-lg="6" size-md="7" size-sm="8">
                  <ion-card-header>
                    Garaje
                  </ion-card-header>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- ion-card 6 -->
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <ion-card (click)="estadoLuces('sala')" [ngStyle]="{'opacity': espacios['sala'] ? '1' : '0.5'}">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="2" size-md="3" size-sm="4" class="ion-text-start">
                  <div class="circle6" [ngClass]="{'on': espacios['sala'], 'off': !espacios['sala']}"></div>
                </ion-col>
                <ion-col size-lg="6" size-md="7" size-sm="8">
                  <ion-card-header>
                    Sala
                  </ion-card-header>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
